services:
  postgres:
    image: postgres:15-alpine
    container_name: coopera_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d database" ]
      interval: 5s
      timeout: 5s
      retries: 5
  migrate:
    image: migrate/migrate:v4.19.0
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path", "/migrations",
        "-database", "postgres://user:password@postgres:5432/database?sslmode=disable",
        "up"
      ]
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"
  app:
    build: .
    container_name: coopera_app
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgres://user:password@postgres:5432/database?sslmode=disable
    depends_on:
      migrate:
        condition: service_completed_successfully
volumes:
  postgres_data:
