services:
  postgres:
    image: postgres:18-alpine
    container_name: coopera_postgres
    environment:
      POSTGRES_USER: "${DATABASE_USER}"
      POSTGRES_PASSWORD: "${DATABASE_PASSWORD}"
      POSTGRES_DB: "${DATABASE_NAME}"
    ports:
      - "${OUTSIDE_DATABASE_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 20s
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: coopera_backend
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    env_file:
      - .env
    volumes:
      - ./backend/migrations:${MIGRATIONS_PATH}
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: coopera_bot
    env_file:
      - .env
    depends_on:
      backend:
        condition: service_started
    restart: always
volumes:
  postgres_data:
