services:
  postgres:
    image: postgres:18-alpine
    container_name: coopera_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d database" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 20s
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: coopera_backend
    ports:
      - "8080:8080"
    env_file:
      - .env.backend
    volumes:
      - ./backend/migrations:/migrations
    depends_on:
      postgres:
        condition: service_healthy
    restart: always
  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: coopera_bot
    env_file:
      - .env.bot
    depends_on:
      backend:
        condition: service_started
    restart: always
volumes:
  postgres_data:
