name: ci
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  pull_request_target:
    types: [ opened, synchronize, reopened ]
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.1'
          cache: true
      - name: Build
        run: go build -v ./...
      - name: Run tests with coverage
        run: go test -v -coverprofile=coverage.out ./...
      - uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: coverage.out
  analysis:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs:
      - test
    permissions:
      contents: read
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event_name == 'pull_request_target' && github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/download-artifact@v6
        with:
          name: coverage-report
      - uses: SonarSource/sonarqube-scan-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
