name: ci
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
env:
  GO_VERSION: '1.25.1'
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - name: Build
        run: go build -v ./...
      - name: Run tests with coverage
        run: go test -v -coverprofile=coverage.out ./...
      - uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: coverage.out
  lint:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5
          args: --output.sarif.path=golangci-lint.sarif
      - uses: actions/upload-artifact@v5
        with:
          name: lint-report
          path: golangci-lint.sarif
  analysis:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [ test, lint ]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v6
        with:
          name: coverage-report
      - uses: actions/download-artifact@v6
        with:
          name: lint-report
      - uses: SonarSource/sonarqube-scan-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
