# SPDX-FileCopyrightText: 2025-2026 Andrey Chernykh
# SPDX-License-Identifier: MIT
name: reuse
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  reuse:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: fsfe/reuse-action@v6
