name: sonar
'on':
  workflow_run:
    workflows: [ 'test' ]
    types: [ completed ]
    branches:
      - main
jobs:
  sonar:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
      issues: write
    steps:
      - uses: actions/github-script@v7
        id: pr_data
        with:
          script: |
            const prs = github.event.workflow_run.pull_requests;
            if (!prs || prs.length === 0) {
              core.info('Not a Pull Request run, skipping.');
              core.setOutput('skip', true);
              return;
            }
            const pr = prs[0];
            const pr_sha = github.event.workflow_run.head_sha;
            core.setOutput('pr_branch', pr.head.ref);
            core.setOutput('pr_number', pr.number);
            core.setOutput('pr_sha', pr_sha);
            core.setOutput('artifact_name', `coverage-report-${pr_sha}`);
            core.setOutput('skip', false);
      - if: steps.pr_data.outputs.skip == 'true'
        run: echo "Skipping Sonar analysis for non-PR run."
      - uses: actions/checkout@v4
        if: steps.pr_data.outputs.skip == 'false'
        with:
          ref: ${{ steps.pr_data.outputs.pr_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - uses: actions/download-artifact@v4
        if: steps.pr_data.outputs.skip == 'false'
        with:
          name: ${{ steps.pr_data.outputs.artifact_name }}
          path: .
      - uses: SonarSource/sonarqube-scan-action@v6
        if: steps.pr_data.outputs.skip == 'false'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.pullrequest.key=${{ steps.pr_data.outputs.pr_number }}
            -Dsonar.pullrequest.branch=${{ steps.pr_data.outputs.pr_branch }}
            -Dsonar.pullrequest.base=main
            -Dsonar.go.coverage.reportPaths=coverage.out
            -Dsonar.scm.revision=${{ steps.pr_data.outputs.pr_sha }}
