name: test
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  GO_VERSION: '1.25.1'
jobs:
  detect-modules:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    outputs:
      modules: ${{ steps.set-modules.outputs.modules }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - id: set-modules
        run: echo "modules=$(go list -m -json | jq -s '.' | jq -c '[.[].Dir]')" >> "$GITHUB_OUTPUT"
  test:
    needs: detect-modules
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJSON(needs.detect-modules.outputs.modules) }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - name: Build
        run: go build -v ${{ matrix.module }}/...
      - name: Run tests with coverage
        run: go test -v -coverprofile=coverage.out ${{ matrix.module }}/...
