# SPDX-FileCopyrightText: 2025-2026 Andrey Chernykh
# SPDX-License-Identifier: MIT
name: yamllint
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  yamllint:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ibiqlik/action-yamllint@v3
